# Copy this file to .env and fill values
TOGETHER_API_KEY=your_together_api_key
GEMINI_API_KEY=your_gemini_api_key
NASA_FIRMS_URL=https://firms.modaps.eosdis.nasa.gov/mapserver/wfs/SouthEast_Asia/map_key/?SERVICE=WFS&REQUEST=GetFeature&VERSION=2.0.0&TYPENAME=ms:fires_modis_24hrs&STARTINDEX=0&COUNT=1000&SRSNAME=urn:ogc:def:crs:EPSG::4326&BBOX=-90,-180,90,180,urn:ogc:def:crs:EPSG::4326&outputformat=csv
